<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CA103G4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/TestDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  <servlet>
    <servlet-name>PerntdServlet</servlet-name>
    <servlet-class>com.perntd.controller.PerntdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PerntdServlet</servlet-name>
    <url-pattern>/front_end/perntd/perntd.do</url-pattern>
  </servlet-mapping>
  
  	<servlet>
		<servlet-name>SearchMenuServlet</servlet-name>
		<servlet-class>com.menu.controller.SearchMenuServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchMenuServlet</servlet-name>
		<url-pattern>/SearchMenuServlet</url-pattern>
	</servlet-mapping>
  
  <servlet>
    <servlet-name>DeliveryServlet</servlet-name>
    <servlet-class>com.delivery.controller.DeliveryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryServlet</servlet-name>
    <url-pattern>/front_end/delivery/delivery.do</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>CustommealsServlet</servlet-name>
    <servlet-class>com.custommeals.controller.CustommealsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustommealsServlet</servlet-name>
    <url-pattern>/front_end/custommeals/custommeals.do</url-pattern>
  </servlet-mapping>
  
 
  <servlet>
	<servlet-name>DBGifReader</servlet-name>
	<servlet-class>com.menu.util.DBGifReader</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>DBGifReader</servlet-name>
	<url-pattern>/DBGifReader</url-pattern>
  </servlet-mapping>
  
    <servlet>
		<servlet-name>MemServlet</servlet-name>
		<servlet-class>com.member.controller.MemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemServlet</servlet-name>
		<url-pattern>/member/MemServlet.do</url-pattern>
	</servlet-mapping>
</web-app>