<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CA103G4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/TestDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
			<servlet>
				<servlet-name>AndroidEmployeeServlet</servlet-name>
				<servlet-class>android.com.employee.controller.AndroidEmployeeServlet</servlet-class>
			</servlet>
			<servlet-mapping>
				<servlet-name>AndroidEmployeeServlet</servlet-name>
				<url-pattern>/AndroidEmployeeServlet</url-pattern>
			</servlet-mapping>
			
			<servlet>
				<servlet-name>AndroidMenuServlet</servlet-name>
				<servlet-class>android.com.menu.controller.AndroidMenuServlet</servlet-class>
			</servlet>
			<servlet-mapping>
				<servlet-name>AndroidMenuServlet</servlet-name>
				<url-pattern>/AndroidMenuServlet</url-pattern>
			</servlet-mapping>
			
			<servlet>
				<servlet-name>AndroidDeliveryServlet</servlet-name>
				<servlet-class>android.com.delivery.controller.AndroidDeliveryServlet</servlet-class>
			</servlet>
			<servlet-mapping>
				<servlet-name>AndroidDeliveryServlet</servlet-name>
				<url-pattern>/AndroidDeliveryServlet</url-pattern>
			</servlet-mapping>
			
			<servlet>
				<servlet-name>AndroidDeskServlet</servlet-name>
				<servlet-class>android.com.desk.controller.AndroidDeskServlet</servlet-class>
			</servlet>
			<servlet-mapping>
				<servlet-name>AndroidDeskServlet</servlet-name>
				<url-pattern>/AndroidDeskServlet</url-pattern>
			</servlet-mapping>
			
			<servlet>
				<servlet-name>AndroidOrderformServlet</servlet-name>
				<servlet-class>android.com.orderform.controller.AndroidOrderformServlet</servlet-class>
			</servlet>
			<servlet-mapping>
				<servlet-name>AndroidOrderformServlet</servlet-name>
				<url-pattern>/AndroidOrderformServlet</url-pattern>
			</servlet-mapping>
	
	
  <servlet>
    <servlet-name>PerntdServlet</servlet-name>
    <servlet-class>com.perntd.controller.PerntdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PerntdServlet</servlet-name>
    <url-pattern>/front_end/perntd/perntd.do</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>DeliveryServlet</servlet-name>
    <servlet-class>com.delivery.controller.DeliveryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryServlet</servlet-name>
    <url-pattern>/front_end/delivery/delivery.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>OrderformServlet</servlet-name>
    <servlet-class>com.orderform.controller.OrderformServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderformServlet</servlet-name>
    <url-pattern>/front_end/orderform/orderform.do</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>CustommealsServlet</servlet-name>
    <servlet-class>com.custommeals.controller.CustommealsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustommealsServlet</servlet-name>
    <url-pattern>/front_end/custommeals/custommeals.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>IngredientsServlet</servlet-name>
    <servlet-class>com.ingredients.controller.IngredientsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IngredientsServlet</servlet-name>
    <url-pattern>/front_end/ingredients/ingredients.do</url-pattern>
  </servlet-mapping>

 
  <servlet>
	<servlet-name>DBGifReader</servlet-name>
	<servlet-class>com.menu.util.DBGifReader</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>DBGifReader</servlet-name>
	<url-pattern>/DBGifReader</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>DBGifReader2</servlet-name>
	<servlet-class>com.custommeals.util.DBGifReader2</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>DBGifReader2</servlet-name>
	<url-pattern>/DBGifReader2</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>DBGifReader3</servlet-name>
	<servlet-class>com.ingredients.util.DBGifReader3</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>DBGifReader3</servlet-name>
	<url-pattern>/DBGifReader3</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
		<servlet-name>MemServlet</servlet-name>
		<servlet-class>com.member.controller.MemServlet</servlet-class>
		<multipart-config>
        <max-file-size>10485760</max-file-size>
        <max-request-size>20971520</max-request-size>
        <file-size-threshold>5242880</file-size-threshold>
    	</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemServlet</servlet-name>
		<url-pattern>/front_end/member/member.do</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>PostServlet</servlet-name>
		<servlet-class>com.post.controller.PostServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostServlet</servlet-name>
		<url-pattern>/post/postServlet.do</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>PostShowImage</servlet-name>
		<servlet-class>com.post.controller.PostShowImage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostShowImage</servlet-name>
		<url-pattern>/post/postshowimage.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ActivityServlet</servlet-name>
		<servlet-class>com.activity.controller.ActivityServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActivityServlet</servlet-name>
		<url-pattern>/activity/activity.do</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>ActivityShowImage</servlet-name>
		<servlet-class>com.activity.controller.ActivityShowImage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActivityShowImage</servlet-name>
		<url-pattern>/activity/activityshowimage.do</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>ReplyServlet</servlet-name>
		<servlet-class>com.reply.controller.ReplyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReplyServlet</servlet-name>
		<url-pattern>/reply/replyServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ReportServlet</servlet-name>
		<servlet-class>com.report_msg.controller.ReportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportServlet</servlet-name>
		<url-pattern>/report/reportServlet.do</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>ResServlet</servlet-name>
		<servlet-class>com.reservation.controller.ResServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>ResServlet</servlet-name>
	    <url-pattern>/front_end/res/res.do</url-pattern>
	  </servlet-mapping>
  

	
	
	
	
	<filter>
	  <filter-name>loginFilter</filter-name>
	  <filter-class>com.loginfilter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
	  <filter-name>loginFilter</filter-name>
	  <url-pattern>/protected_front/*</url-pattern>
	  <dispatcher>REQUEST</dispatcher>
	  <dispatcher>FORWARD</dispatcher>
	  <dispatcher>INCLUDE</dispatcher>
	  <dispatcher>ERROR</dispatcher>
	  <dispatcher>ASYNC</dispatcher>
	</filter-mapping>
</web-app>